body {
	font-family: sans-serif;
	margin: 30px;
	line-height: 1.4;
}

#notification {
	background: rgb(245, 230, 230);
	border: 1px solid rgb(90, 50, 50);
	padding: 12px;
}

.message {
	background: rgb(250, 190, 0);
	margin: 12px 0 12px 0;
	padding: 12px;
	border: 1px solid rgb(90, 50, 0);
}

.error {
	background: red;
	color: white;
}

.error .criticalCode {
	font-weight: bold;
	background: yellow;
	color: black;
}