/*

Exercise Notes:

Use Flex-wrap, flex-direction, and flex to control how the header spaces and sizes.  A good minimum for flex might be 320px;




 */



.exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseHeader {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.exerciseHeaderLogo {
    width: 200px;
    height: 80px;
    flex: 1;
    min-width: 200px;
}

.exerciseHeaderNav {
	display: flex;
	flex: 4;

}

.exerciseHeaderNav ul {
	flex: 1;
	display: flex;
	list-style: none;
	align-items: center;
}

.exerciseHeaderNav ul li {
	flex: 1;
	margin: 0 20px;
	min-width: 150px;
}


.exerciseMainContent {
	margin-top: 20px;
}


.exerciseAdditionalFeatures {
	display: flex;
	margin: 20px 0;

}

.exerciseAdditionalFeatures .exerciseMarketingFeature {
	flex: 1;
	margin: 0 0 0 20px;


}

.exerciseAdditionalFeatures .exerciseMarketingFeature:first-child {
	margin-left: 0px;

}