.placeholder {
	background: grey;
	border: 6px solid black;
	min-height: 100px;
}

.main {
	width: 60%;
	float: left;
}

.sidebar {
	width: 20%;
	float: left;
}

.pageFooter {
	clear: both;
}

.section {
	width: 20%;
	float: left;
}
