/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

body {
	font-family: "Open Sans", Helvetica, sans-serif;
}

.introHeader {
	display: inline-block;
	width: 100%;
	height: 700px;
	background-image: url(../images/header_bg.jpg);
	background-position: center;
	background-size: cover;
}

.container {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.tagline {
	font-size: 48px;
	font-weight: 600;
	color: #ffffff;
	text-align: center;
	margin-top: 120px;
	margin-bottom: 120px;
}

.logo {
	margin-top: 50px;
	font-size: 40px;
	color: #ffffff;
	font-weight: 600;
}

a {
	text-decoration: none;
}

.button {
	display: block;
	width: 280px;
	margin: 0 auto;
	border-radius: 5px;
	font-size: 28px;
	font-weight: 800;
	text-align: center;
	padding: 12px 30px 12px 30px;
}

.ctaButton {
	background: #f9e42e;
  	color: #033048;

}

h2 {
	color: #033048;
	font-size: 40px;
	font-weight: 600;
}

p, ul {
	color: #606161;
	font-size: 26px;
	font-weight: 300;
}

.benefits {
	width: 100%;
	padding: 100px 0;
}

.quote {
	display: block;
	width: 100%;
	padding: 100px 0;
	background-image: url(../images/testimonial_bg.jpg);
	background-position: center;
	background-size: cover;
}

blockquote {
	color: #ffffff;
	font-style: italic;
	font-size: 36px;
	font-weight: 300;
	padding-top: 70px;
	text-align: center;
}

span {
	display: block;
	padding-top: 20px;
	font-weight: 600;
	font-style: normal;
}

.cta {
	display: block;
	width: 100%;
	padding: 100px 0;
	background-color: #f9e42e;
}

.signUp {
	background-color: #033048;
	color: #ffffff;

}

.copyright {
	font-size: 18px;
	font-weight: 600;
	color: #ffffff;
	text-align: center;
}

footer.footer {
	display: block;
	width: 100%;
	padding: 50px 0;
	background-color: #121212;
}

h1.footer {
	color: #f9e42e;
	font-size: 48px;
	font-weight: 800;
	text-align: center;
	padding: 70px 0 70px 0;
}

.social {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.Facebook, .Twitter {
	margin: 0 50px;
}