/*
 Floating Sections Code-Along

 Make the header red and 100% width
 Main should be yellow and 60% wide
 sideBar should be green and 40% wide
 pageFooter should be blue and 100% width

 */

.placeholder {
	background: grey;
	border: 6px solid black;
	min-height: 100px;
}

.main {
	width: 60%;
	float: left;
}

.sidebar {
	width: 40%;
	float: left;
}

.pageFooter {
	clear: both;
}